<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Dress Me!!</h1>

<h3>Please Log In to Your Account</h3>
<div class="loginForm">
<form action=".userhomepage.html" method="post">
   <label>First Name <input type="text" name="firstName"/> </label>
    <label>Last Name <input type="text" name="lastName"/> </label>
    <label>Email<input type="email" name="emailAddress"/></label>
    <label>Your 6 digit Zip Code <input type="number" name="zipCode" min="6" max="6"/></label>
</div>
</form>
</body>
</html>
