body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: whitesmoke;
}

button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgb(197, 193, 193);
    border: none;
    outline: none;
    padding: auto;
    border-radius: 5px;
    color: black;
}

#header {
    padding: 10px;
    color: black;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

#header button {
    background-color: rgb(200, 199, 199);
}

#container {
    width: 770px;
}

#weekdays {
    width: 100%;
    display: flex;
    color: black;
}

#weekdays div {
    list-style-type: none;
    width: 90px;
    padding: 10px;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 0px 3px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day:hover {
    background-color: white;
}

.day + #currentDay {
    background-color: white;
}

.event {
    font-size: 10px;
    padding: 3px;
    background-color: rgb(49, 163, 240);
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
}

.padding {
    cursor: default;
    background-color: white;
    box-shadow: none;
}

#newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px grey;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton, #deleteButton {
    background-color: rgb(253, 124, 124);
}

#saveButton, #closeButton {
    background-color: lightblue;
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: black;
}    