.widgetForecast {
	display: flex;
	gap: 20px;

	padding: 20px;

	background: #FFFFFF;
	box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.5);
	border-radius: 0px 0px 20px 20px;
}

.widgetItem {
	padding: 11px 0px 11px 11px;

	width: 150px;

	background: rgba(71, 147, 255, 0.2);
	border-radius: 10px;
}

.day {
	font-weight: 500;
	font-size: 18px;
	line-height: 122%;
	color: #000000;
}

.icon img {
	width: 45px;
	height: 45px;
}

.max {
	font-weight: 500;
	font-size: 18px;
	line-height: 122%;
	color: #000000;
}

.min {
	font-size: 13px;
	line-height: 123%;
	color: #939CB0;
}

.description {
	margin: 6px 0px 0px 0px;
	font-size: 13px;
	line-height: 123%;
	color: #939CB0;
}